<aside class="sidebar">
<span class="side-label">Menu</span>
<a href="{% url "dashboard" %}" class="side-link"><span class="em">▦</span> Dashboard</a>
<a href="{% url "investments" %}" class="side-link"><span class="em">₮</span> My Investments</a>
<a href="{% url "transactions" %}" class="side-link"><span class="em">⟁</span> Transactions</a>
<a href="{% url "deposit" %}" class="side-link"><span class="em">↓</span> Deposit</a>
<a href="{% url "withdraw" %}" class="side-link"><span class="em">↑</span> Withdraw</a>
<span class="side-label">General</span>
<a href="{% url "referrals" %}" class="side-link"><span class="em">＠</span> Referrals</a>
<a href="{% url "settings" %}" class="side-link"><span class="em">⚙</span> Settings</a>
<a href="{% url "support" %}" class="side-link"><span class="em">⛨</span> Support</a>
<div class="side-cta">
    <a href="{% url "logout" %}" class="btn btn-outline btn-block">Log Out</a>
</div>
</aside>