<aside class="sidebar">
<span class="side-label">Menu</span>
<a href="dashboard.html" class="side-link active"><span class="em">▦</span> Dashboard</a>
<a href="investments.html" class="side-link"><span class="em">₮</span> My Investments</a>
<a href="transactions.html" class="side-link"><span class="em">⟁</span> Transactions</a>
<a href="deposit.html" class="side-link"><span class="em">↓</span> Deposit</a>
<a href="withdraw.html" class="side-link"><span class="em">↑</span> Withdraw</a>
<span class="side-label">General</span>
<a href="referrals.html" class="side-link"><span class="em">＠</span> Referrals</a>
<a href="settings.html" class="side-link"><span class="em">⚙</span> Settings</a>
<a href="support.html" class="side-link"><span class="em">⛨</span> Support</a>
<div class="side-cta">
    <a href="{% url "logout" %}" class="btn btn-outline btn-block">Log Out</a>
</div>
</aside>